/** 基本html标签初始化**/

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0
}

body {
	font: 14px"宋体", "Arial Narrow", HELVETICA;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
	font-weight: 400;
}

html {
	overflow-y: scroll;
}

li {
	list-style: none
}


/**
 * 导航栏
 */

.navbar-default {
	background-color: #0e90d2;
	border-color: #0b6fa2;
	color: #eee;
}

.header nav li,
.header a,
.header strong,
.header span,
.header i {
	color: #FFF;
}

nav li:hover {
	background-color: rgba(0, 0, 0, .05);
}

ul.dropdown-menu {
	position: absolute;
	top: 60px;
	z-index: 1020;
}

ul.dropdown-menu:after,
ul.dropdown-menu:before {
	position: absolute;
	left:64%;
	top:-6px;
	content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    border-top: 1px solid rgb(223, 223, 223);
    border-right: 1px solid rgb(223, 223, 223);
    border-bottom: 0px transparent dashed;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1050;
}

.navbar-default .navbar-nav .open>a,
.navbar-default .navbar-nav .open>a:focus,
.navbar-default .navbar-nav .open>a:hover {
	background-color: rgb(51, 122, 183);
}
/** 中间体main-------------------------------------------------------------------------------------**/
.main{
	margin-top: 50px;
	color:black;
}

.main ul.nav {
	background-color: rgb(243,245,246);
}
